{% load static %}
<!DOCTYPE html>
    <html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Timer Pomodoro</title>
        <link rel='stylesheet' href="{% static 'css/styles.css'%}">
        <script src="{% static 'js/script.js' %}" defer></script>
    </head>
    <body>
    <section class="navbar--section fw-bold">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Pomodoro Timer</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup" aria-expanded="false" 
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </section>

    <section class="timer--section">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 mt-5 h4 text-center">
                    <p class="h2 text-center">Pomodoro</p>
                    <div class="timer ">
                        <span id="hours">00</span>:<span id="minutes">25</span>:<span 
                                                          id="seconds">00</span>
                    </div>

                    <button class="btn btn-primary" onclick="startMainTimer()">Start</button>
                    <button class="btn btn-primary" onclick="pauseTimer()">Pause</button>
                    <button class="btn btn-primary" onclick="resetTimer()">Reset</button>
                </div>
            </div>
        </div>
    </section>    
  </body>
</html>