{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block extra_js %}
<script src="{% static 'home/js/home.js' %}" defer></script>
{% endblock %}

{% block content %}
<div id="welcome-message">        
    {% if user.is_authenticated %}
        <h1>Bem-vindo, {{ user.username }}!</h1>
    {% else %}
        <p>Você não está logado.</p>
        <p>Clique aqui para fazer login: <a href="{% url 'authentication:login' %}">Login</a></p>
    {% endif %}
</div>

<h3>Quais tarefas vamos concluir hoje?</h3>
<div id="recent-tasks">
    {% for task in tasks %}
        <h3><a href="{% url 'task:task_detail' task.id %}">{{ task.title }}</a></h3>
    {% empty %}
        <p>Você ainda não tem tarefas recentes.</p>
        <p>Gostaria de <a href="{% url 'task:new' %}">adicionar uma tarefa</a>?</p> 
    {% endfor %}
</div>    
{% endblock %}