<nav id="nav-top-bar" class="navbar">
    <ul class="nav-links">
        <li>
            <a href="{% url 'home:home' %}" class="{% if request.resolver_match.namespace == 'home' %}active{% endif %}">Home</a>
        </li>
        <li>
            <a href="{% url 'pomodoro:new' %}" class="{% if request.resolver_match.namespace == 'pomodoro' %}active{% endif %}">Pomodoro</a>
        </li>
        <li>
            <a href="{% url 'task:tasks' %}" class="{% if request.resolver_match.namespace == 'task' %}active{% endif %}">Tarefas</a>
        </li>
        <li>
            <a href="{% url 'reward:rewards' %}" class="{% if request.resolver_match.namespace == 'task' %}active{% endif %}">Recompensas</a>
        </li>
    </ul>
</nav>
