{% extends 'base.html' %}
{% load static %}

{% block title %}Nova Tarefa{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'task/css/new_task.css' %}">
{% endblock %}

{% block extra_js %}
<script src="{% static 'task/js/new_task.js' %}" defer></script>
{% endblock %}

{% block content %}
<h2>Nova Tarefa</h2>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <h3>Subtarefas</h3>
    {{ formset.management_form }}
    {% for subform in formset %}
        <div class="subtask-form">
            {{ subform.as_p }}
        </div>
    {% endfor %}

    <button type="submit">Salvar</button>
</form>

<a href="{% url 'task:tasks' %}">Voltar para tarefas</a>
{% endblock %}