{% extends 'base.html' %}
{% load static %}

{% block title %}Histórico de propostas{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'task/css/tasks.css' %}">
{% endblock %}

{% block extra_js %}
<script src="{% static 'task/js/tasks.js' %}" defer></script>
{% endblock %}

{% block content %}
<h1>Minhas Tarefas</h1>

{% if tasks %}
    {% for task in tasks %}
        <div class="task">
            <h3><a href="{% url 'task:task_detail' task.id %}">
                {{ task.title }}
            </a></h3>
            <p>{{ task.description }}</p>
            <p>Prazo: {{ task.due_date|date:"d/m/Y H:i" }}</p>

            <form method="POST" action="{% url 'task:complete_task' task.id %}">
                {% csrf_token %}
                <button type="submit">Concluir</button>
            </form>
        </div>
    {% endfor %}
    <a href="{% url 'task:new' %}">Criar nova tarefa</a>
{% else %}
    <p>Você ainda não tem tarefas.</p>
    <a href="{% url 'task:new' %}">Criar nova tarefa</a>
{% endif %}
{% endblock %}